<!-- recipes/templates/recipes/home.html --> 
{% extends "recipes/base.html" %}
<!-- -->
{% block content %}

<div class="about-page">
    <section class="about-intro">
        <h1>About #Whoseagooddoggie</h1>
        <h4>Good doggies should get the food they deserve <br> 
            With the right stuff they can live up to 3 years longer</h4>
    </section>

    <section class="about-mission">
        <h2>Our Mission</h2>
        <p>We want to provide dog owners with the tools to make their
            dogs happy and healthy. We believe that a healthy diet is the key to a 
            happy dog.</p>
    </section>
    <section class="about-why">
        <h2>Why go homemade?</h2>
        <p> There are loads of benefits of using fresh ingredients 
            and no artificial preservatives or other chemicals.
            Not forgeting that variety is the spice of life,
            even for dogs. Here's a list of why it makes sense:</p>
            <button class="dropdown-toggle" onclick="toggleDropdown()">Show Benefits</button>
            <ul id="benefits-list" class="dropdown-content">
            <ol>1. Improved digestion</ol>
            <ol>2. Healthier skin and coat</ol>
            <ol>3. Increased energy levels</ol>
            <ol>4. Better weight management</ol>
            <ol>5. Stronger immune system</ol>
            <ol>6. Better dental health</ol>
            <ol>7. Fewer allergies</ol>
            <ol>8. Fewer vet visits</ol>
            <ol><em>A longer lifespan of up to 2-3 years longer</em></ol>
        </ul>
    </section>
    <section class="about-how">
        <h2>How it works:</h2>
        <p>We are a group of passionate pet lovers dedicated to making #Whoseagooddoggie the best resource for pet-friendly recipes.
            <br>
            <ul>
                <li>1. Sign up to the site</li>
                <li>2. Share your favorite doggy recipes</li>
                <li>3. Browse other recipes</li>
                <li>4. Rate and comment on recipes</li>
                <li>5. Upload photos of your dog enjoying his meals</li>    
            </ul>
        </p>
    </section>
    <section class="about-comp">
        <h2>DOG PHOTO COMPETITON</h2>
        <p>Remember to upload a photo of your dog enjoying his meals</p>
        <p>Our team will select the best photo and the winner will receive a free 
            doggy hamper!</p>
        <p>Good luck!</p>
        <p>Whoseagooddoggie Team</p>

    </section>
</div>
{% endblock %}