<!-- recipes/templates/recipes/home.html --> 
{% extends "recipes/base.html" %}
<!-- -->
{% block content %}
   
<div>
    <h1>Welcome to Whoseagooddoggie</h1>
        <h2>The site that aims to be a dog's second 
        best friend. </h2>
        <h1>Our mission</h1>
    <p>We want to provide dog owners with the tools to make their
        dogs happy and healthy. We believe that a healthy diet is the key to a 
        happy dog. <br>
        <h1>How it works</h1>
        <p>This is a platform for dog owners to share their favorite recipes
        that can make their dogs wag their tails with joy. <br>
            <ul>
                <li>1. Sign up to the site</li>
                <li>2. Share your favorite doggy recipes</li>
                <li>3. Browse other recipes</li>
                <li>4. Rate and comment on recipes</li>
                <li>5. Upload photos of your dog enjoying his meals</li>    
            </ul>

        <h1>Why a homemade diet?</h1>
        Our site shares the benefits of a homemade diet with fresh ingredients 
        and no artificial preservatives and other chemicals <br>
        Not forgeting that variety is the spice of 
        even for dogs. Here's a list of the benefits of a healthy doggy diet:

        <ul>
            <ol>1. Improved digestion</ol>
            <ol>2. Healthier skin and coat</ol>
            <ol>3. Increased energy levels</ol>
            <ol>4. Better weight management</ol>
            <ol>5. Stronger immune system</ol>
            <ol>6. Better dental health</ol>
            <ol>7. Fewer allergies</ol>
            <ol>8. Fewer vet visits</ol>
            <ol><em>A longer lifespan of up to 2-3 years longer</em></ol>
        </ul>
        <br>
        We hope you enjoy the site and find some great recipes for your dog.
    </p>
    <h2>DOG PHOTO COMPETITON</h2>
    <p>Remember to upload a photo of your dog enjoying his meals</p>
    <p>Our team will select the best photo and the winner will receive a free 
        doggy hamper!</p>
    <p>Good luck!</p>
    <p>Whoseagooddoggie Team</p>
</div>
{% endblock %}